<!-- As informações dinâmicas: nome do curso, data e nome do aluno -->
{{#if dadosExistem}}
{{#each dados}}
<div class="dados">
    <p class="textoMenor">Orgulhosamente anunciamos que</p>
    <p>{{nomeAluno}}</p>
    <p class="textoMenor"> formou com honra em </p>
    <p>{{nomeCurso}}</p>
    <p class="textoMenor"> na ilustre data de </p>
    <p>{{data}}</p>
</div>
{{/each}}
{{/if}}